# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary/downloaded files
*.download
*.tmp
*.temp

# Python/build artifacts
*.egg-info/
dist/
build/

# Environment/secrets
.env